body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(150, 150, 150);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

div.login {
    border: 3px solid black;
    margin-top: 30px;
}

div.gameboard {
    display: grid;
}

#msg-color-container {
    display: flex;
    max-width: 600px;
    max-height: 300px;
}

div.messagearea {
    flex: 1;
    height: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white;
    overflow: scroll;
}

.color-container {
    width: 50px;
}

.color-item {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    margin: 10px;
    align-items: center;
    justify-content: center;
}